/*------- GENERAL --------*/
html, body, div, span,
h1, h2, h3, h4, p,
a, ul, li,
article, aside, footer,
header, nav, section{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}
html {
    background-color: #daede2;
}
h2 {
    font-size: 39px;
    font-weight: 300;
}
p {
    font-size: 17px;
    font-weight: 400;
    padding: 15px 0;
}
a {
    text-decoration: none;
    color: #000;
    border-bottom: solid 1px rgba(0, 0, 0, 0.5);
}
a:hover {
    border-bottom: solid 1px rgba(216, 39, 76, 1);
}
span {
    border-bottom: dotted 2px;
}
hr {
    background-color: #ea2e45;
    height: 1px;
    border: none;
}
li {
    color: rgba(0, 0, 0, 0.5);
}
/*--- main_wrapper ---*/
#wrapper {
    margin: 65px 65px;
    background-color: #79C4D2;
}
/*------ header ------*/
#header {
    padding: 55px 60px;
    width: 50%;
}
#logo {
    background-color: #ea2e45;
    padding: 15px 20px;
    text-align: center;
    width: 220px;
}
#logo>a {
    color: #fff;
    text-decoration: none;
    font-size: 26px;
    font-weight: 300;
    border-bottom: none;
}
.description {
    color: #fff;
    font-size: 17px;
    line-height: 25px;
    padding: 30px 60px;
    width: 50%;
}
.description>p>a {
    color: #fff;
}
.title {
    font-size: 110px;
    color: #fff;
    font-weight: 700;
    margin-top: 30px;
    text-align: left;
}
.title>span {
    border-bottom: dotted 17px;
}
/*-------- aside -------*/
#aside_content {
    background-color: #E2E790;
    opacity: 0.95;
    position: absolute;
    z-index: 2;
    width: 21%;
    top: 130px;
    right: 65px;
    padding: 90px 55px;
}
h3 {
    font-size: 39px;
    margin-bottom: 10px;
    font-weight: 300;
}
li {
    list-style: none;
    padding: 10px 0;
}
/*---- layout_black ----*/
.layout {
    background-color: #3B4553;
    height: 100%;
    width: 30%;
    opacity: 0.95;
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1;
}
/*------- The road --------*/
#the_road {
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    z-index: 1;
    top: 900px;
    left: 0;
    width: 47%;
    padding: 40px 30px 30px 110px;
}
/*------- What About ? -------*/
#what_about {
    position: relative;
    color: #fff;
    top: 300px;
    width: 35%;
    display: inline-block;
    margin-left: 100px;
    margin-top: 30px;
}
/*----- participation -----*/
#participation {
    position: relative;
    z-index: 2;
    background-color: #ea2e45;
    opacity: 0.9;
    width: 30%;
    top: 500px;
    right: -80px;
    padding: 60px 50px;
    color: #fff;
    display: inline-block;
}
#participation>p>a {
    color: #fff;
}
#participation>p>a:hover {
    border-bottom: solid 1px rgba(255, 255, 255, 1);
}
/*------ benefits ------*/
#benefits {
    background-color: rgba(255,255,255, 0.9);
    position: relative;
    top: 620px;
    left: 82px;
    width: 21%;
    padding: 50px 26px;
}
#benefits>h2 {
    padding: 10px 0 10PX;
}
#benefits>p {
    padding: 10px 0 10px;
}
/*------- requirement -------*/
#requirement {
    background-color: rgba(255,255,255, 0.9);
    position: relative;
    z-index: 2;
    width: 50%;
    padding: 50px 40px;
    top: 92px;
    left: 376px;
}
/*------- footer -------*/
#footer {
    background-color: rgb(246, 247, 146);
    padding: 20px 50px;
    font-size: 17px;
    word-spacing: 10px;
    width: 30%;
    position: relative;
    margin-top: 150px;
    bottom: 58px;
    left: 70px;
}